body{
		margin:0;
		padding:0;
		background:url(farmers.jpg);
		background-size:cover;
		background-position:center;
		font-family:sans-serif;
}

.wrap{
	width:350px;
	top:3%;
	margin:auto;
	background:rgba(0,0,0,0.5);
	margin-top:50px;
	padding:0px
}
form{
	padding:10px;
	font-family:arrival;
	/*border:1px dotted white;*/
	margin:10px;
}
h2{
	text-align:center;
	background:orange;
	color:white;
	padding:10px;
	border-radius:10px;

}
input{
	padding:10px;
	margin:5px;
	border-radius:5px;
	border:none;
}

input[type=text], input[type=email], input[type=number], input[type=password]{
	width:95%;
}
input[type=submit]{
	width:95%;
	background:orange;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:white;
}
/*input[type=submit]:hover{
	background:yellow;
}*/
select{
	padding:10px;
	width:32%;
	border-radius:5px;
}