{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styletest.css' %}">
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<div class ="wrap">
	
	<form action= "{% url 'changepassword' i %}" method="POST">
	<h4>{{msg}}</h4>
	{% csrf_token %}
		<h2>Confirm Password</h2>
		<input type="text" name ="oldpassword" placeholder="Old Password" required></input>
		
		<input type="password" name="newpassword" placeholder="New Password" required></input>
		<input type="password" name="newpconfirm" placeholder="Confirm Password" required></input>
		<br>
		<button type="submit"class="btn btn-success">Proceed</button>
	</form>
</div>
{% endblock %}