{% extends 'base.html' %}
{% load static %}


{% block content3 %}
	<li><a href="{% url 'homedummy' %}?uname={{uname}}"><i></i>Home</a></li> 
        	<li><a href="{% url 'info' %}?uname={{uname}}"><i class="fa fa-info site-nav--icon"></i>Info</a></li>
        	<li><a href="{% url 'contact' %}?uname={{uname}}"><i class="fa fa-phone site-nav--icon"></i>Contact</a></li>
{% endblock %}
{% block content2 %}
 <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
{% for u in user %}	
      {% if u.username %}
	 
	
	<li>	<div class="dropdown">
		<button class="dropbtn">{{u.username}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
		
      <a href="{% url 'myaccount' u.id %}">My account</a>
      <a href="{% url 'changepassword' u.id %}">Change Password</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div></li>
      {% else %}
		
		<li><a href="{% url 'login' %}"><B>Login</B></a></li>
        <li><a href="{% url 'signup' %}"><B>Sign Up</B></a></li>
			{% endif %}
	</div>
		<!--<li><a href="{% url 'login' %}"><B>Login</B></a></li>
        <li><a href="{% url 'signup' %}"><B>Sign Up</B></a></li>-->
	{% endfor %}
{% endblock %}


{% block content1 %}
	
	{% for c in categories %}
	
        <li><a href="{% url 'navcategory' %}?cpk={{c.pk}}&uname={{uname}}">{{c.categoryname}}</a></li> 
	{% endfor %}
{% endblock %}


{% block content %}

<body>

<h2><center> Responsive "Meet The Team" Section</center></h2>
<br>

<div class="row">
  <div class="column">
    <div class="card">
     <img src="/static/media/Ritesh.jpg" alt="Ritesh" width="320">
      <div class="container">
        <h2>Ritesh Kumar</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>riteshkumar140897@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/media/kundan.jpg" alt="Kundan"width="320">
      <div class="container">
        <h2>Kundan kumar</h2>
        <p class="title">Linker</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>kundan.bvm@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="/static/media/Nitin.jpg" alt="Nitin"width="320">
      <div class="container">
        <h2>Nitin</h2>
        <p class="title">Desiner</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>nitin@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/media/subham.jpg" alt="Shubham"width="320">
      <div class="container">
        <h2>Shubham</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>shhubham103@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>

{% endblock %}