{% extends 'base.html' %}

{% block content %}
<div id="any_id" class="barousel">
    <div class="barousel_image">
        <!-- image 1 -->
        <img src="static/img/1.jpg" alt="sdfghj" class="img-responsive">
        <!-- image 2 -->
        <img src="static/img/2.jpg" alt="sdfghj" class="img-responsive">
        <!-- image xx -->
        <img src="static/img/3.jpg" alt="sdfghj" class="img-responsive">
    </div>
    <div class="barousel_content">
        <!-- content 1 -->
        <div class="default">
            <h2>sdfghnjm</h2>
        </div>
        <!-- content 2 -->
        <div>
           <h2>sdfghnjm</h2>
        </div>
        <!-- content xx -->
        <div>
            <h2>sdfghnjm</h2>
        </div>
    </div>
    <div class="barousel_nav">
    </div>
</div>

{% endblock %}
