{% extends 'base.html' %}
{% load static %}

{% block content2 %}
<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
      {% if uname%}
	 
	
	<li>	<div class="dropdown">
		<button class="dropbtn">{{uname}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">

      <a href="{% url 'changepassword' i %}">Change Password</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div></li>
      {% else %}
		
		<li><a href="{% url 'login' %}"><B>Login</B></a></li>
        <li><a href="{% url 'signup' %}"><B>Sign Up</B></a></li>
			{% endif %}
	</div>
		<!--<li><a href="{% url 'login' %}"><B>Login</B></a></li>
        <li><a href="{% url 'signup' %}"><B>Sign Up</B></a></li>-->
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/purchased.css' %}">
<body>
		<article>
			<table align="center" >
				<tr>
					<td colspan="12" class="header"><h1>User Details</h1></td>
				</tr>
				<tr>
					<th>User Name</th>
					<th>Name</th>
					
					<th>Phone no.</th>
					<th>Email</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Pincode</th>
					<th>Active</th>
					<th>Admin Control</th>
				
				</tr>
				
				
				{% for i in userdetails %}
					<tr>
					<td>{{ i.username }}</td>
					<td>{{ i.name }}</td>
					
					<td>{{ i.phone }}</td>
					<td>{{ i.email }}</td>
					<td>{{ i.address }}</td>
					<td>{{ i.city }}</td>
					<td>{{ i.state }}</td>
					<td>{{ i.pin }}</td>
					<td>{{ i.active }}</td>
					<td><a href="{% url 'useractivate' i.id %}?uname={{uname}}">activate</a>
					<a href="{% url 'userdeactivate' i.id%}?uname={{uname}}">deactivate</a></td>
					</tr>
				{% endfor %}
				
				
				</tr>
			</table>
		</article>
</body>
{% endblock %}

	
	